.frame {
    position: relative;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 0;
    display: none;
}


.frame:hover .info {
    display: block;
}

.frame:hover .image {
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
}