#wmkbs {
    /* border: 1px solid blue; */
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
}

#wmkbs:hover {
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
    background-color: rgb(51, 39, 39);
    color: white;
    cursor: pointer;
}

.dot {
    width: 5px;
    height: 5px;
    margin-left: 15px;
    background-color: rgb(246, 72, 179);

    border-radius: 50%;
}

.dot1 {
    width: 10px;
    height: 10px;
    margin-left: 45px;
    background-color: rgb(247, 245, 127);

    border-radius: 50%;
}

.dot2 {
    width: 15px;
    height: 15px;
    margin-right: 65px;
    background-color: rgb(86, 244, 128);

    border-radius: 50%;
}

.dot3 {
    width: 20px;
    height: 20px;
    margin-left: 18px;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
}

.dot4 {
    width: 17px;
    height: 17px;
    margin-left: 55px;
    border: 2px solid orange;
    border-radius: 50%;
}

.dot5 {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: rgb(247, 80, 133);

    border-radius: 50%;
}

.dot6 {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    border: 2px solid blue;
    border-radius: 50%;
}

.dot7 {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    /* background: linear-gradient(rgb(242, 0, 255), rgba(255, 115, 0, 0.6)); */
    background-color: rgba(247, 80, 166, 0.441);

    border-radius: 50%;
}

.dot8 {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: rgb(247, 80, 133);

    border-radius: 50%;
}

.kids {
    margin-top: -300px;

}

.circle {
    width: 20px;
    height: 20px;
    margin-left: 0px;
    background-color: rgb(80, 247, 127);

    border-radius: 50%;
}

.circle1 {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    background-color: rgb(247, 80, 169);

    border-radius: 15%;
    transform: rotate(30deg)
}

.circle2 {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    border: 2px solid slateblue;
    /* background-color: rgb(247, 80, 169); */

    border-radius: 50%;
}

.circle4 {
    width: 15px;
    height: 15px;
    margin-left: 60px;
    /* border: 2px solid slateblue; */
    background-color: rgb(241, 199, 46);

    border-radius: 50%;
}

.circle5 {
    width: 25px;
    height: 25px;
    margin-left: 300px;
    /* border: 2px solid slateblue; */
    background-color: rgb(252, 172, 42);

    border-radius: 15%;
    transform: rotate(30deg)
}

.circle6 {
    width: 15px;
    height: 15px;
    margin-left: 450px;
    margin-top: 40px;
    background-color: rgba(243, 47, 122, 0.621);

    border-radius: 50%;
}

.circle7 {
    width: 15px;
    height: 15px;
    margin-top: 180px;
    margin-left: 150px;
    /* border: 2px solid slateblue; */
    background-color: rgb(243, 194, 47);

    border-radius: 50%;
}

.circleA {
    width: 30px;
    height: 30px;
    margin-left: 280px;
    margin-bottom: 50px;
    background-color: rgb(235, 79, 206);
    border-radius: 50%;
}

.circleB {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: rgb(79, 235, 118);
    border-radius: 50%;
}

.circleC {
    width: 25px;
    height: 25px;
    margin-left: 390px;
    background-color: rgb(246, 49, 69);
    border-radius: 50%;
}

.circleD {
    width: 25px;
    height: 25px;
    margin-left: 500px;
    margin-top: -55px;
    margin-bottom: 30px;
    background-color: rgba(245, 37, 82, 0.768);
    border-radius: 50%;
}

.circleE {
    width: 25px;
    height: 25px;
    margin-left: 400px;
    margin-top: 100px;
    background-color: rgb(246, 177, 49);
    border-radius: 50%;
}

.man {
    margin-top: -190px;
}