#wmkbs {
    /* border: 1px solid blue; */
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
}

#wmkbs:hover {
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 25px;
    background-color: rgb(51, 39, 39);
    color: white;
    cursor: pointer;
}

.dot {
    width: 5px;
    height: 5px;
    margin-left: 15px;
    background-color: rgb(246, 72, 179);

    border-radius: 50%;
}

.dot1 {
    width: 10px;
    height: 10px;
    margin-left: 45px;
    background-color: rgb(247, 245, 127);

    border-radius: 50%;
}

.dot2 {
    width: 15px;
    height: 15px;
    margin-right: 65px;
    background-color: rgb(86, 244, 128);

    border-radius: 50%;
}

.dot3 {
    width: 20px;
    height: 20px;
    margin-left: 18px;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
}

.dot4 {
    width: 17px;
    height: 17px;
    margin-left: 55px;
    border: 2px solid orange;
    border-radius: 50%;
}

.dot5 {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background-color: rgb(247, 80, 133);

    border-radius: 50%;
}

.dot6 {
    width: 10px;
    height: 10px;
    margin-left: 0px;
    border: 2px solid blue;
    border-radius: 50%;
}

.dot7 {
    width: 30px;
    height: 30px;
    margin-left: 40px;
    /* background: linear-gradient(rgb(242, 0, 255), rgba(255, 115, 0, 0.6)); */
    background-color: rgba(247, 80, 166, 0.441);

    border-radius: 50%;
}

.dot8 {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: rgb(247, 80, 133);

    border-radius: 50%;
}